<h3><%= @event.name %></h3>


<!-- We will need to iterate the invites after looking  -->
<h4>The Invited:</h4>

<ul>
<% @users.each do |user| %>
<li><%= link_to user.name, edit_invite_path(@invites.find_by(:user_id => user.id)) %></li>
<% end %>
<ul>

<br>
<%= link_to "Invite User", new_event_invite_path(@event) %><br>
<%= link_to "All Events", events_path %>
